/* ************************************************ */
/*              colors                        */
/* main color #256FB0 */
/* text after header #757380 */
/* cta color#ffb842 */
/* V: 1.0.2 */
/* ************************************************ */

html,
body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: "Montserrat", sans-serif;
}
html {
    scroll-behavior: smooth;
}

.text-info {
    color: #256FB0 !important;
}
body{
    overflow-x: hidden
}

/* ************************************************ */
/*              loader style                        */
/* ************************************************ */
#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999999999999999;
    overflow: visible;
    background: rgb(255, 255, 255) url(../imgs/preloader.gif) no-repeat center center;
}

/* ************************************************ */
/*              header style                        */
/* ************************************************ */
header {
    width: 100%;
    background: url(../imgs/SCS-Steaming-Slider-01.jpg), rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-blend-mode: overlay;
    position: relative;
}

/*  linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(37,111,176,0.8) 50%) */
/* navbar */

nav {
    transition: 0.6s;
    z-index: 9;
    background-color: rgba(0, 0, 0, 0.425);
    transition: all 1s ease;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    background-color: #000;

}
#navbar{
    position: fixed;
    width: 100%;
}
#navbar img#logo{
    width: 450px;
    transition: all 500ms;
    max-width: 80%;
}
.navbar.sticky img#logo{
    width: 350px !important;
}
nav ul {
    padding: 1rem 3rem;
    /* transition: all .5s ease; */
}
.nav-list {
padding: 0.3rem 1rem !important;
}
.logo{
    width:200px;
}
#logo {
    transition: all .5 ease-in-out;
    width: 350px;
}
nav ul li a {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
}
.nav-link {
    color: #fff !important;
}
.nav-link:hover {
    color: #256FB0 !important;
}
.h-row {
    padding-top: 7rem!important;
     padding-bottom: 3rem !important;
}
/* .sticky-nav {
    padding: 1rem 2rem;
    background-color: rgba(110, 110, 110, 0.568);
} */

ul li {
    list-style: none;
}


form {
    border: none;
    width: 70%;
    margin: auto;
}

header ,sale {
    position: relative;
}
header .off{
    position: absolute;
    top: -53px;
    right: 22px;
    width: 210px;
    transform: rotate(
18deg
);
}

.card-header,
.card-body {
    border: none;
    background-color: #fff;
}
header form .card {
    padding-top: 1rem;
}
.c-name {
    color: #ffb842;
    font-weight: 600;
    font-size: 1.3rem;
}

.hr {
    height: 4px;
    width: 40%;
    background-color: #ffb842;
    margin-bottom: 1rem;
}

.h1-header span {
    font-size: larger;
    color: #ffb842;
}

form h3 {
    color:#256FB0;
    font-weight: 600;
    padding-top: .5rem;
}

.send-btn {
    border: none;
    font-weight: 600;
    padding: 0.8rem 1.2rem;
    background-color: rgb(37, 111, 176);
    cursor: pointer;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
    line-height: 18px;
    letter-spacing: 0px;
    border-color: transparent;
    border-radius: 3px;
    transform-origin: 97.9375px 29px;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-width: 0px;
    border-style: none;
    transition: all 0.2s ease-in-out;
}
.send-btn:hover {
    background-color: rgb(75, 75, 75);
}

.header-content i {
    color: #ffb842;
    font-size: 1.5rem;
    padding: 0.2rem;

}
.header-pl ul{
    padding:0rem;
}
.header-bottom {
    background-color: #03447d;
    margin-top: -3rem;
    padding: 1rem 2rem 2rem;
    box-shadow: 3px 1px 27px 5px rgb(255 184 66 / 75%);
    border-radius: 20px;
}
.arrow{
    height: 140px;
    transform: scale(-1,1) rotate(
216deg
);
}
.discount {
    color: #ffb842;
    font-size:3rem;
    font-weight: 600;
    margin: 0rem !important;
}
.hb-exp{
    margin:0rem !important;
    font-weight: 600;
    font-size: 1.5rem;
    color: #ffa962;
}
.h2header{
    margin: 0rem !important;
    font-size:2rem;
    font-weight: 600;
}
.countdown{
    margin: 0rem !important;
}
#clock{
        font-size: 3rem;
        color: #ffb842;
        font-weight: 600;
        letter-spacing: 5px;
        margin-top: 1rem !important;
    }
}

/* ************************************************ */
/*             why-us style#ffb842                 */
/* ************************************************ */
.why-us , .services {  
    background-color: #EDEFF1;
    overflow: hidden;
}
.why-us h3 , .services h3 , .testimonials h3{
    color: #000;
    font-weight:600;
    font-size: 2.5rem;

}
.wu-content {
    font-weight: 400;
    line-height: 1.5;
     color: #757380;
}
.why-us ul {
    list-style: none;
    padding-left: 0rem;
}
.why-us i {
        color: #ffb842;
        font-size: 1.5rem;
        padding: 0.2rem;
}

/* ************************************************ */
/*             services style#ffb842                 */
/* ************************************************ */
.services {
    color: #757380;
}

.baseBlock {
	margin: 0px 0px 35px 0px;
	padding: 0 0 15px 0px;
	border-radius: 5px;
	overflow: hidden;
	min-height: 390px;
	background: #fff;
	-moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	-o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
	transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    border: 1px #256FB0 solid;
}

.baseBlock:hover {
	-webkit-transform: translate(0, -8px);
	-moz-transform: translate(0, -8px);
	-ms-transform: translate(0, -8px);
	-o-transform: translate(0, -8px);
	transform: translate(0, -8px);
	box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}
.services .card-title {
    margin-bottom: .75rem;
    color: #256fb0;
    font-weight: 600;
    font-size: 1.6rem;
}
.services .card-body {
    border-top: 1px solid #256fb0;
}

/* ************************************************ */
/*             testimonials style#ffb842                 */
/* ************************************************ */
.testimonials {
    overflow: hidden;
    background-color:#EDEFF1;
}
.testimonial{
    border-right:1px solid #4b4b50;

}
.testi-name{
    font-size: .9em;
    color: #03447d ;
}
.testi {
    color: #4b4b50;
}

/* ************************************************ */
/*             contact us style#ffb842              */
/* ************************************************ */
.contact-us {
    background-image: url(../imgs/main-image.jpg);
    background-position:right;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.contact-us .card {
    border-radius: 30% !important;
}
.contact-us h3 {
    color: #256FB0;
}

/* ************************************************ */
/*             footer style#ffb842                 */
/* ************************************************ */
footer {
    background-color: #2A2931;
}
footer p {
    color: #bfbcca;
}

/* ************************************************ */
/*             cta btn style#ffb842                 */
/* ************************************************ */
.cta-btn {
    /* padding:0.5rem 3rem; */
    background-color:#000;
    font-weight: 600;
    color: #fff;
    font-size: 1.3rem;
    border: none;
    font-weight: 600;
    padding: 1rem 1.35rem;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    white-space: nowrap;
    line-height: 18px;
    letter-spacing: 0px;
    border-color: transparent;
    border-radius: 3px;
    transform-origin: 97.9375px 29px;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    border-width: 0px;
    border-style: none;

}

/* ************************************************ */
/*             cta section                           */
/* ************************************************ */
.cta-sec {
    background-color:#2A2931;
    overflow: hidden
}

.cta-sec p {
    font-size: 1.5rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    margin-top: .5rem;
}

.cta-btn {
    background-color: #b27f2a;
}
.cta-btn a {
    color: #fff;
    text-decoration: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: #256fb0;
    border-color:#256FB0;
}

    /* ************************************************ */
    /*             sticky                               */
    /* ************************************************ */
    .sticky-phone {
        width: 4rem;
        height: 4rem;
        position: fixed;
        bottom: 5%;
        left: 2%;
        background-color:#b27f2a;
        display: flex;
        align-items: center;
        text-align: center;
        z-index: 999;
    }

    .sticky-phone a {
        font-size: 3rem;
        margin: auto;
        color: #fff;
    }

    .scroll {
        width: 3rem;
        height:3rem;
        position: fixed;
        bottom: 5%;
        left: 95%;
        background-color:#b27f2a;
        display: flex;
        align-items: center;
        text-align: center;
        z-index: 999;
    }

    .scroll a {
        font-size: 2rem;
        margin: auto;
        color: #fff;
    }




    .mobile-phone {
        display: none;
        background-color:#b27f2a;
        font-size: 1.5rem;
        position: sticky;
        bottom: 0;
        z-index: 999;
    }
    .mobile-phone a {
        color: #fff;
        font-weight: 600;
    }

    @media (max-width:1200.98px) {
        header .off {
            width: 155px;
            top: -25px !important;
            right: 22px !important;
    }
    .arrow {
        height: 77px;
    }

}

    @media (max-width:991.98px) {
        .header-content{
            text-align: center;
        }
        .hr{
            margin-left: 30%;
        }
        /* .why-us .hr {
            margin-left: 0 !important;
        } */
        .sticky-divs {
            display: none;
        }
        .mobile-phone{
            display: block;
        }
        .why-us {
            text-align: center;
        }
        .why-us .hr {
         margin-left:30% !important;
     }
     .why-us ul {
         text-align: left;
     }
     .h-row {
         padding-top:8rem !important;
        padding-bottom: 3rem !important;
    }
    .arrow{
        display: none;
    }
    .hb-row{
        display: flex;
        justify-content: center;
        margin-top: 2rem;
    }
    header .off {
        right: 102px !important;
    }
    }    

    @media (max-width:767.98px) {
        .cta-sec p {
            font-size: 1.1rem;
            letter-spacing: 2px;
            margin-top: .8rem
        }
        .testimonial{
            text-align: center;
        }
        .services .card {
      
            width: 80%;
            margin: 1rem auto;
    }
    header .off {
        width: 112px;
        right: 71px !important;
        top: -4px !important;
    }
    }
    @media (max-width:576px) {
        .testimonial img {
            
        width: 200px;
        }
        .testimonial {
             margin-bottom: 0em;
    
             padding:0rem;
    }
    header .off {
        width: 117px;
    right: 49px !important;
    top: -8px !important;
    }
   
    }
    @media (max-width:500px) {
        .cta-sec p {
            font-size: 1.1rem;
            letter-spacing: 2px;
            margin-top: .8rem
        }
        .header-pl{
            display: none;
        }
        .h1-header{
            font-size: 1.8rem;
        }
        form h3 {
            font-size: 1.2rem !important;
        }
        .c-name{
            font-size: 1.2rem;
        }
    .testimonial{
        text-align: center;
    }
   header form {
        border: none;
        width:90% !important;
  
    }
    header .off {
        width: 117px;
    right: 20px !important;
    top: -8px !important;
    }
    .discount {
        
        font-size:2rem;
    }
}

@media (max-width:550px) {
#navbar img#logo {
    width: 300px;
    transition: all 500ms;
    max-width: 80%;
}
.navbar.sticky img#logo {
    width: 250px !important;
}
.header-bottom {
    text-align: center;
}

}

@media (max-width:378px) {
    #navbar img#logo {
        width: 250px;
        transition: all 500ms;
        max-width: 80%;
    }
    .navbar.sticky img#logo {
        width: 200px !important;
    } 
    .h2header{
        font-size: 1.3rem;
    } 
    .hb-exp{
        font-size: 1rem;
    }
    #clock {
        font-size: 2rem;
    }
     
    }



